{# src/rendu/AdminBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bibliothèque de Film{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="html_cinema/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('html_cinema/css/style.css') }}" />

</head>
<body>
<ul class="menu">
    <li><a href="{{ path('page_accueil') }}">Accueil</a></li>
    <li><a href="{{ path('page_films') }}">Films</a></li>
    <li><a href="{{ path('admin_film_liste') }}">Admin</a></li>
</ul>

<div id="content">

    {% block body %}{% endblock %}

</div>
</body>
</html>