{# src\rendu\AdminBundle\Resources\views\Genre\list.html.twig #}
{% extends 'renduAdminBundle::layout.html.twig' %}

{% block title %}Liste des genres{% endblock %}

{% block body %}



<h1>Liste des genres :</h1>

    {% for genre in genres %}
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td><a href="{{ path('admin_genre_modif', {'id': genre.id}) }}">{{ genre.nom }}</a>
                        <a href="{{ path('admin_genre_supprimer', {'id': genre.id}) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

    <a href="{{ path('admin_genre_ajout') }}" class="btn btn-primary btn-lg active" role="button">Ajouter un Genre</a>

{% endblock %}



