{% extends 'renduCinemaBundle::layout.html.twig' %}

{% block body %}
<h1> Bienvenue sur une bibliotheque de films sous symphony</h1>


<footer>
    Copyright © Rendu - Elliott Marie
</footer>

{% endblock %}