{# src\rendu\CinemaBundle\Resources\views\Film\list.html.twig #}
{% extends 'renduAdminBundle::layout.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}


<h1 class="text-center">Liste des Films</h1>




    {% for film in films %}

        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
        <tr>
            <td><a href="{{ path('admin_film_modif', {'id': film.id}) }}">{{ film.titre }}</a>
                <a href="{{ path('admin_film_supprimer', {'id': film.id}) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
        </tr>
            </tbody>
        </table>
    </div>

    {% endfor %}

    <a href="{{ path('admin_film_ajout') }}" class="btn btn-primary btn-lg active" role="button">Ajouter un Film</a>

{% endblock %}







